@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "CargeJSON";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/estilos.css">
</head>
<body>
    <div class="contenedor-botones">
        <button id="boton-cargar-asignaturas" class="cargar-asignaturas">Cargar Asignaturas</button>
        <button onclick="location.href='@Url.Action("RegistrarSisben", "Administrador")'" id="boton-cargar-sisben" class="cargar-sisben">Cargar Sisben</button>
        <button onclick="location.href='@Url.Action("RegistrarEstrato", "Administrador")'" id="boton-cargar-estrato" class="cargar-estrato">Cargar Estrato</button>
        <button onclick="location.href='@Url.Action("RegistrarEPS", "Administrador")'" id="boton-cargar-EPS" class="cargar-EPS">Cargar EPS</button>
        <button onclick="location.href='@Url.Action("RegistrarDiscapacidad", "Administrador")'"  id="boton-cargar-discapacida" class="cargar-discapacida">Cargar Discapacidad</button>
        <button onclick="location.href='@Url.Action("RegistrarTipoDocumento", "Administrador")'" id="boton-cargar-tipo-documento" class="cargar-tipo-documento">Cargar Tipo Documento</button>
        <button onclick="location.href='@Url.Action("RegistrarTipoSangre", "Administrador")'" id="boton-cargar-tipo-sangre" class="cargar-tipo-sangre">Cargar Tipo De Sangre</button>
        <button onclick="location.href='@Url.Action("RegistrarGenero", "Administrador")'" id="boton-cargar-genero" class="cargar-genero">Cargar Genero</button>
        <button id="boton-cargar-sedes" class="cargar-sedes">Cargar Sedes</button>
    </div>
</body>
</html>
