@using System.Web;

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> <!-- Asegúrate de incluir jQuery -->
    @*<link rel="stylesheet" href="~/css/VistaEstudiante.css">*@
    @*<script src="~/js/VistaEstudiante.js" defer></script>*@
   @* <script>
        $(document).ready(function () {
            // Función para mostrar la tabla
            function mostrarTabla() {
                $("#contenidoEstudiantes").show();
                $("#mensajeNoEstudiantes").hide(); // Oculta el mensaje si está visible
            }

            // Oculta la tabla inicialmente
            $("#contenidoEstudiantes").hide();

            // Maneja el clic en el botón
            $("#mostrarEstudiantes").click(function () {
                mostrarTabla();
            });
            
            // Maneja el clic en el botón
            $("#btnOpcionFiltrar").click(function () {
                mostrarTabla();
            });
        });
    </script>*@
</head>
<body>
    @{
        var sedes = ViewBag.Sedes;
        var grupos = ViewBag.GruposGrado;
        var identificacion = ViewBag.IdentificacionEst;
    }
    <div class="contenedor-principal">
        <div class="contenedor-botones">
            @*<button id="mostrarEstudiantes" class="boton-principal">Mostrar Estudiantes</button>*@
            @*<button id="buscar-estudiante" class="boton-principal">Buscar Estudiante</button>*@
            <button id="gestion-periodo" onclick="window.location.href='/Funcionario/GestionPeriodoAcademico'" class="boton-principal">Gestion Periodo Academico</button>
            <button id="gestion-docente" onclick="window.location.href='/Funcionario/principalDocente'" class="boton-principal">Gestion Docente</button>
            <button id="certificados" onclick="window.location.href='/Funcionario/GestionCertificados'" class="boton-principal">Certificados</button>
            @using (Html.BeginForm("controlHabilitacionCargueNotaPeriodo", "Docente", FormMethod.Post))
            {
                <input type="hidden" name="habilitarCargueNotaFinal" value="@true" />
                <button id="boton-buscar-dos" class="boton-buscar" type="submit">Habilitar Cargue de Notas e Inasistencias</button>
            }
        </div>
        <div class="contenedor-buscar-estudiante">
            @using (Html.BeginForm("ObtenerIdentificacionEstudiante", "Funcionario", FormMethod.Post))
            {
                <input type="buscar" class="buscar-numero" name="identificacion" placeholder="Digite El Número De Identificación">
                <button id="boton-buscar-dos" class="boton-buscar" type="submit">Buscar</button>
            }            
        </div>
        <div class="contenedor-filtrar">
            @using (Html.BeginForm("obtenerEstudiantesGrupoSede", "Funcionario", FormMethod.Post))
            {
                <div class="contenedor-filtro-sede">
                    <div class="form-group">
                        <select class="form-select" name="sede" id="sede" aria-label="Default select example">
                            <option value="">Sede</option>
                            @if (sedes!=null)
                            {
                                foreach (List<string> item in sedes)
                                {
                                    <option value="@item[1]">@item[1]</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="contenedor-filtro-grupo">
                    <div class="form-group">
                        <select class="form-select" name="grupo" id="grupo" aria-label="Default select example">
                            <option value="">Grupo</option>
                            @if (grupos != null && ViewBag.SedeSeleccionada != null)
                            {
                                foreach (var item in grupos)
                                {
                                    <option value="@item[1]">@item[1]</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary" id="btnOpcionFiltrar" type="submit">Filtrar</button>
                </div>
            }
        </div>
        <div class="contenedor-tabla">

            @if (ViewBag.SedeSeleccionada != null)
            {
                var sede = ViewBag.SedeSeleccionada;              

                if (ViewBag.GrupoSeleccionado != null)
                {
                    var grupo = ViewBag.GrupoSeleccionado;
                    <h1>Lista de Estudiantes sede: @sede grupo: @grupo</h1>
                }
                else
                {
                    <h1>Lista de Estudiantes sede: @sede</h1>
                }
                
            }
            else
            {
                <h1>Lista de Estudiantes</h1>
            }
            
            <table id="tabla-estudiantes">
                <tr>
                    <th>Documento</th>
                    <th>Primer Nombre</th>
                    <th>Segundo Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>            
                    <th>Tipo Sangre</th>
                    <th>Tipo Documento</th>
                    <th>Discapacidad</th>
                    <th>Sisben</th>
                    <th>Genero</th>
                    <th>EPS</th>
                    <th>Estrato</th>
                    <th>Codigo Estudiante</th>
                    <th>Grado</th>
                    <th>Grupo</th>
                    <th>Foto</th>                                        
                    <th>Opciones</th>

                </tr>
                @if (ViewBag.ListaEstudiante != null)
                {
                    List<Object> Datos = ViewBag.ListaEstudiante;

                    if (ViewBag.ListaEstudianteGrupo != null)
                    {
                        Datos = ViewBag.ListaEstudianteGrupo;
                    }

                    @if (identificacion != null)
                    {                     
                                       
                        foreach (List<String> usuario in Datos)
                        {
                            if (usuario[0] == identificacion)
                            {                               
                            
                                <tr>
                                    <td>@usuario[0]</td>
                                    <td>@usuario[1]</td>
                                    <td>@usuario[2]</td>
                                    <td>@usuario[3]</td>
                                    <td>@usuario[4]</td>
                                    <td>@usuario[12]</td>
                                    <td>@usuario[13]</td>
                                    <td>@usuario[14]</td>
                                    <td>@usuario[15]</td>
                                    <td>@usuario[16]</td>
                                    <td>@usuario[17]</td>
                                    <td>@usuario[18]</td>
                                    <td>@usuario[19]</td>
                                    <td>@usuario[20]</td>
                                    <td>@usuario[21]</td>
                                    <td>
                                        @using (Html.BeginForm("SubirImagen", "Controlador", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            <div class="form-group">
                                                <label for="imagen">Seleccione una imagen:</label>
                                                <input type="file" class="form-control-file" id="imagen" name="imagen" accept="image/*">
                                            </div>

                                            <button type="submit" class="btn btn-primary">Subir Imagen</button>
                                        }
                                    </td>
                                    <td>
                                        @*@Html.ActionLink("PrincipalFamiliar", "PrincipalFamiliar", new { identificacion = long.Parse(usuario[0]) }, new { @class = "btn btn-success" })*@
                                        @Html.ActionLink("PrincipalFamiliar", "PrincipalFamiliar",
                                                        new {
                                                            identificacion = long.Parse(usuario[0]),
                                                            nombreCompleto = $"{usuario[1]} {usuario[2] ?? ""} {usuario[3]} {usuario[4]}",
                                                            codigoEstudiante = usuario[19]
                                                        },
                                                        new { @class = "btn btn-success" })
                                        @Html.ActionLink("principalObservacion", "principalObservacion", new { identificacionEst = long.Parse(usuario[0]) }, new { @class = "btn btn-warning" })

                                        @*<button class="btn btn-warning" onclick="window.location.href='/Funcionario/registrarObservacion'">Registrar Observacion</button>*@
                                    </td>
                                </tr>
                            }
                        }
                    }
                    else
                    {
                        foreach (List<String> usuario in Datos)
                        {
                            <tr>
                                <td>@usuario[0]</td>
                                <td>@usuario[1]</td>
                                <td>@usuario[2]</td>
                                <td>@usuario[3]</td>
                                <td>@usuario[4]</td>
                                <td>@usuario[12]</td>
                                <td>@usuario[13]</td>
                                <td>@usuario[14]</td>
                                <td>@usuario[15]</td>
                                <td>@usuario[16]</td>
                                <td>@usuario[17]</td>
                                <td>@usuario[18]</td>
                                <td>@usuario[19]</td>
                                <td>@usuario[20]</td>
                                <td>@usuario[21]</td>
                                <td>
                                    @using (Html.BeginForm("SubirImagen", "Controlador", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div class="form-group">
                                            <label for="imagen">Seleccione una imagen:</label>
                                            <input type="file" class="form-control-file" id="imagen" name="imagen" accept="image/*">
                                        </div>

                                        <button type="submit" class="btn btn-primary">Subir Imagen</button>
                                    }
                                </td>
                                <td>
                                    @*@Html.ActionLink("PrincipalFamiliar", "PrincipalFamiliar", new { identificacion = long.Parse(usuario[0]) }, new { @class = "btn btn-success" })*@
                                    @Html.ActionLink("PrincipalFamiliar", "PrincipalFamiliar",
                                                    new {
                                                        identificacion = long.Parse(usuario[0]),
                                                        nombreCompleto = $"{usuario[1]} {usuario[2] ?? ""} {usuario[3]} {usuario[4]}",
                                                        codigoEstudiante = usuario[19]
                                                    },
                                                    new { @class = "btn btn-success" })
                                    @Html.ActionLink("principalObservacion", "principalObservacion", new { identificacionEst = long.Parse(usuario[0]) }, new { @class = "btn btn-warning" })

                                    @*<button class="btn btn-warning" onclick="window.location.href='/Funcionario/registrarObservacion'">Registrar Observacion</button>*@
                                </td>
                            </tr>
                        }
                    }

                }
                else
                {
                    <div id="mensajeNoEstudiantes" class="alert alert-warning">
                        No hay datos para mostrar
                    </div>
                }

            </table>
        </div>

        <div class="contendor-input">

        </div>
        <form action="/Funcionario/CargarCsv" method="post" enctype="multipart/form-data">
            <input type="file" id="inputFile" name="file" accept=".csv">
            <br>
            <input type="submit" value="Cargar CSV">
        </form>
    </div>
    <style>
        .contenedor-tabla {
            width: 100%;
            height: 500px;
            text-align: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            overflow: auto;
        }

        #tabla-estudiantes {
            border: 1px solid #000;
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #000;
            text-align: center;
            font-size: 10px;
        }
    </style>
</body>
</html>
