@{
    var idUs = ViewBag.idetificacionUs;
    var asignaturas = ViewBag.Asignaturas;
    var sedes = ViewBag.Sedes;
    var grupos = ViewBag.GruposGrado;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Docente</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/js/FlujoDeDatos.js"></script>
</head>
<body>

    <div style="margin-top: 50px">
        @*para eliminar*@
    </div>

<<<<<<< Updated upstream
    <table border="1">
        <tr>
            <th>Asignaturas</th>
            <th>Grupos</th>
            <th>Opciones</th>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <select class="form-select" name="Asignaturas" id="asignaturasSelect" aria-label="Default select example">
                        <option value="">Asignaturas</option>
                        @foreach (var item in asignaturas)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
=======
 
   
   

    <div class="form-group mx-2">
        <label for=""> </label>
        <input type="submit" class="form-control form-control-sm bg-primary text-white" value="Buscar">
    </div>


</div>
<div class="table__container" id="tablaEstudiantesNotas">
    <div class="h-100 w-100  d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
   
</div>




<div class="modal fade" id="agregarNotas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header py-1 border-0">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Notas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="limpiarNotasModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-row">
                        <input type="hidden" id="documenteEstudiante" value=""/>
                        <div class="col">
                            <div class="form-group form-group-sm my-0">
                                <label for="" class="laber-form my-0 py-0">Nota</label>
                                <input type="text" class="form-control form-control-sm notasEstudiante" value="" placeholder="" id="notasEstudiante">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-group-sm ">
                                <label for="" class="laber-form my-0 py-0">Inasistencias </label>
                                <input type="text" class="form-control form-control-sm notasEstudiante" value="" placeholder="" id="fallaestudiante">
                            </div>
                        </div>
                       


                    </div>
>>>>>>> Stashed changes
                </div>
            </td>
            <@using (Html.BeginForm("obtenerGrupoSeleccionado", "Docente", FormMethod.Post))
            {
                    <td>
                        <div class="form-group">
                            <select class="form-select" name="Grupos" id="grupoSelectDocente" aria-label="Default select example" onchange="habilitarBoton()">
                                <option value="">Grupos</option>
                            @if (grupos != null)
                            {
                                @foreach (var item in grupos)
                                {
                                                <option value="@item">@item</option>
                                }
                            }
                            </select>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-primary" id="btnOpcion3" type="submit">Filtrar</button>
                    </td>
            }

        </tr>

    </table>


    <div style="margin-top: 50px">
        @*para eliminar*@
    </div>

    @if (ViewBag.HabilitacionNotaFinal != null)
    {
        if (ViewBag.HabilitacionNotaFinal == true)
        {
            <div id="contenidoEstudiantes">
                <h1>Estudiantes</h1>
                <table border="1">
                    <tr>
                        <th>Documento</th>
                        <th>Primer Nombre</th>
                        <th>Segundo Nombre</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        @*<th>Edad</th>
                <th>Telefono Celular</th>
                <th>Telefono Fijo</th>
                <th>Correo Usuario</th>
                <th>Direccion Usuario</th>
                <th>Barrio Usuario</th>
                <th>Fecha Nacimiento</th>
                <th>Tipo Sangre</th>
                <th>Tipo Documento</th>
                <th>Discapacidad</th>
                <th>Sisben</th>
                <th>Genero</th>
                <th>EPS</th>
                <th>Estrato</th>
                <th>Codigo Estudiante</th>*@
                        <th>Numero de fallas</th>
                        <th>Nota Definitiva</th>
                    </tr>

                    @if (ViewBag.ListaEstudianteGrupo != null)
                    {
                        List<Object> Datos = new List<Object>();
                        Datos = ViewBag.ListaEstudianteGrupo;

                        foreach (List<String> usuario in Datos)
                        {
                            <tr>
                                <td>@usuario[0]</td>
                                <td>@usuario[1]</td>
                                <td>@usuario[2]</td>
                                <td>@usuario[3]</td>
                                <td>@usuario[4]</td>
                                @*<td>@usuario[5]</td>
                <td>@usuario[6]</td>
                <td>@usuario[7]</td>
                <td>@usuario[8]</td>
                <td>@usuario[9]</td>
                <td>@usuario[10]</td>
                <td>@usuario[11]</td>
                <td>@usuario[12]</td>
                <td>@usuario[13]</td>
                <td>@usuario[14]</td>
                <td>@usuario[15]</td>
                <td>@usuario[16]</td>
                <td>@usuario[17]</td>
                <td>@usuario[18]</td>
                <td>@usuario[19]</td>*@
                                <td>
                                    @*@Html.ActionLink("GestionarAsistencia", "GestionarAsistencia", new {identificacion=long.Parse(usuario[0])}, new {@class = "btn btn-success"})
                    @Html.ActionLink("GestionarNotas", "GestionarNotas", new {identificacionEst=long.Parse(usuario[0])}, new {@class = "btn btn-warning"})*@
                                    <label class="control-label">Numero de fallas</label>
                                    <input value="" class="form-control" placeholder="0" readonly />
                                </td>
                                <td>
                                    <label class="control-label">Nota definitiva</label>
                                    <input value="" class="form-control" placeholder="0.0" readonly />
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <div id="mensajeNoEstudiantes" class="alert alert-warning">
                            Debe seleccionar un grupo para poder visualizar los estudiantes
                        </div>
                    }

                </table>

            </div>
        }
        else
        {
            <h1>AUN NO SE HAN HABILITADO EL CARGUE DE NOTAS FINALES DEL PERIODO</h1>
        }
    }

    <script>
        // En este script, llama a la función del archivo JS cuando cambia el select
        $(document).ready(function () {
            $('#grupoSelectDocente').change(function () {
                var valorSeleccionado = grupoSelectDocenteChanged();
            });

        });
    </script>
</body>
</html>

